DEV_PORT=3000
SERVER_PORT=9000
REACT_APP_AUTH0_DOMAIN=<auth0-domain>
REACT_APP_AUTH0_CLIENT_ID=<auth0-client-id>
REACT_APP_AUTH0_CLIENT_SECRET=<auth0-client-secret>
REACT_APP_AUTH0_AUDIENCE=<auth0-server-audience>
REACT_APP_SERVER_URL=<server-url>
